$bg-overlay:rgba(0,0,0,0.8);

h2{
    color: #fff;
}
body{
    background: #fff;
}
button:focus {
    outline: none;
}
.uk-lightbox{
    z-index: 99999999999;
}
.navbar{
    background:#123;
    opacity: 0.8;
    .nav-item{
        padding-right: 1rem;
        &:last-child{
            padding-right: 0;
        }
        .nav-link{
            text-transform: uppercase;
        }
        
    }
}
#slider-section{
    .carousel-item{
        height: 450px;
    }
    .carousel-img-1{
        background: url('../img/image1.jpeg') no-repeat center top;
        background-size: cover;
        
    }
    .carousel-img-2{
        background: url('../img/image2.jpeg') no-repeat center top;
        background-size: cover;
        
    }
    .carousel-img-3{
        background: url('../img/image3.jpeg') no-repeat center top;
        background-size: cover;
        
    }
}
#home-icon{
    .fa{
        font-size: 50px;
    }
}
#ready-section{
    background: url('../img/bg1.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    
    .dark-overlay{
        background: $bg-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
}
#video-section{
    background: url('../img/people.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    .fa{
        font-size: 50px;
        color: red;
    }
    .video-overlay{
        background: $bg-overlay;
        min-height: 250px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left:0;
    }
    
}
#photo-section{
    img{
        min-height: 250px;
    }
    
}
#footer-section{
    background: #000;
    p{
        margin: 0;
        padding: 0;
    }
}
//about page
#about-about-us-section{
    background: url('../img/image1.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    
    .dark-overlay{
        background: $bg-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
}
//about work page
#about-work-section{
    img{
        height: 350px;
        width: 350px;
    }
    .fa{
        font-size: 50px;
        
    }
}
//about-testimonial-section
#about-testimonial-section{
    background: #F8F9FA;
    .slick-prev::before,
    .slick-next::before{
        color: #000;
    }
}
//services
//services-services-section
#services-services-section{
    background: url('../img/image3.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    
    .dark-overlay{
        background: $bg-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
}
#services-services-body-section{
    .card-footer {
        border-top: 0;
    }
}
#asked-questions-section{
    background: #343A40;
    a:hover{
        text-decoration: none;
    }
}
#blog-blog-section{
    background: url('../img/image1.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    
    .dark-overlay{
        background: $bg-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
#blog-post-section{
    img{
        height: 250px;
    }
    
    
}
#contact-contact-header-section{
    background: url('../img/image1.jpeg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    
    .dark-overlay{
        background: $bg-overlay;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
@media(max-width:767px){
    #ready-section{
        min-height: 300px;
    }
    
}
@media(max-width:514px){
    #ready-section{
        min-height: 350px;
    }
    
}
@media(max-width:480px){
    .lead{
        font-size: 1rem;
    }
    #slider-section{
        .display-4 {
            font-size: 2.5rem;
        }
        
    }
    #ready-section{
        
    }
    #video-section{
        min-height: 280px;
    }
    #about-work-section{
        img{
            height: 250px;
            width: 250px;
        }
    }
    
}

@media(max-width:340px){
    #slider-section{
        .display-4 {
            font-size: 2rem;
        }
        
    }
    
}